# Quarto
.quarto/
**/*_quarto_ipynb

# R / RStudio
.RData
.Rhistory
.Rproj.user/

# Quarto output (bygges automatisk)

# Ekskluder prosjektmappe
projects/project_cause/

# OS
.DS_Store
Thumbs.db

/.quarto/
**/*.quarto_ipynb
